.container {
  height:  calc(100vh - 60px);
  max-width: calc(100vw - 20px);
}

.row {
  width: calc(100vw - 20px);
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

table { 
    margin: 0px !important;
    padding: 0px  !important;
}

tbody {
  display: block;
  height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.card {
  max-width: calc(100vw / 3);
}

.card-body {
  min-height: 200px;
  min-width: 300px;
  margin-right: 5px;
}

.container-fluid {
  overflow-y: hidden;
  overflow-x: scroll;
}